.more_topics{
    width: calc(75% - 0.32rem);
    padding-left: 1%;
}

.section_highlight{
    display: block;
}

.more_topic_content{
    display: flex;
    font-size: 1rem;
    -webkit-box-pack: justify;
    position: relative;
}

.more_topic_article{
    display: flex;
    -webkit-box-pack: justify;
    position: relative;
    width: calc(68.75% - 0.4rem);
    font: 400 0.9375rem / 1.4 "Droid Sans", Helvetica, sans-serif;
}

.more_topic_article_info{
    padding-left: 1em;
}

.more_topic_article_title{
    font-size: 1.625rem;
    letter-spacing: -0.035em;
    margin-bottom: .125em;
    font-weight: 700;
    margin-top: 0;
}

.more_topic_content .headline_list{
    width: calc(31.25% - 0.86rem);
    margin: 0;
}

.more_topic_content .headline_list li:first-child .headline_article{
    padding-top: 0 ;
}

@media(max-width: 1040px){
    .more_topics{
        width: calc(60% - 0.5rem);
    }
    .section_highlight{
        margin-bottom: 2em;
        padding-bottom: 2em;
    }
    .more_topic_content {
        display: block;
    }
    .more_topic_article{
        width: 100%;
    }
    .more_topic_image{
        width: calc(50% - 0.63rem);
    }
    .more_topic_article_info {
        width: calc(50% - 0.64rem);
    }
    .more_topic_content .headline_list {
        width: calc(50% - 0.64rem);
        border-top: 1px solid #d7d6d2;
        float: right;
        padding-top: 1em;
        margin-left: 50%;
        padding-bottom: 2em;
    }
    .more_topic_image img{
        height: auto;
        width: 100%;
    }
}

@media(max-width: 800px) {
    .more_topics{
        width: 100%;
    }
    .more_topic_image{
        width: 100%;
    }
    .more_topic_content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .more_topic_article{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .more_topic_article_info{
        width: 100%;
        padding-left: 0;
        padding-bottom: 1em;
    }
    .more_topic_content .headline_list{
        width: 100%;
        border-top: 1px solid #d7d6d2;
        padding-top: 1em;
        margin-left: 0;
        padding-bottom: 2em;
    }
}
