.more_topics{
    width: calc(75% - 0.32rem);
    padding-left: 1%;
    padding-bottom: 2em;
    clear: both;
}

.section_highlight{
    display: block;
    width: 100%;
}

.topic_title{
    width: 100%;
}

.more_topic_content{
    display: flex;
    font-size: 1rem;
    -webkit-box-pack: justify;
    position: relative;
}

.more_topic_content .headline_list{
    padding-left: 1em;
}

.more_topic_article{
    display: flex;
    -webkit-box-pack: justify;
    position: relative;
    width: calc(68.75% - 0.4rem);
    font: 400 0.9375rem / 1.4 "Droid Sans", Helvetica, sans-serif;
}

.more_topic_article_info{
    padding-left: 1em;
}

.more_topic_article_title{
    font-size: 1.625rem;
    letter-spacing: -0.035em;
    margin-bottom: .125em;
    font-weight: 700;
    margin-top: 0;
}

.more_topic_content .headline_list{
    width: calc(31.25% - 0.86rem);
    margin: 0;
}

.more_topic_content .headline_list li:first-child .headline_article{
    padding-top: 0 ;
}

.event_wrapper{
    max-width: calc(100% - 300px);
    font-family: 'Roboto Condensed', Roboto, Calibri, Candara, Arial, sans-serif;
    padding-left: 1%;
    padding-bottom: 3em;
}

.right_commands {
    display: flex;
    float: right;
    font-size: .9em;
    align-items: center;
}

.right_commands img{
    width: 1.5em;
    height: auto;
    margin-left: 1em;
}

.event_list_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.event_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.event_list li {
    display: inline-block;
    width: 100%;
    margin-right: 1em;
}

.event_list li:first-child{
    margin-left: 1em;
}

.event{
    display: flex;
    flex-direction: column;
    max-width: 140px;
}

.event img{
    width: 100%;
    height: auto;
}

.footer_dates{
    max-height: 23px;
    height: 23px;
    overflow: hidden;
}

.footer_day{
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: inline-block;
    width: 50px;
    line-height: 20px;
    margin: 0;
    padding: 6px 0;
    float: left;
}

@media(max-width: 1300px){
    .event_list li:last-child{
        display: none;
    }
}

@media(max-width:1100px){
    .event_list li:nth-last-child(2){
        display: none;
    }
}

@media(max-width:930px){
    .event_list li:nth-last-child(3){
        display: none;
    }
}

@media(min-width:600px) and (max-width:750px){
    .event_list li:nth-last-child(4){
        display: none;
    }
    .event_command_text{
        display: none;
    }
}

@media(max-width: 600px){
    .event_wrapper{
        max-width: calc(100% - 1em);
    }
}

@media(max-width: 1040px){
    .more_topics{
        width: calc(60% - 0.5rem);
    }
    .section_highlight{
        margin-bottom: 2em;
        padding-bottom: 2em;
    }
    .more_topic_content{
        display: block;
    }
    .more_topic_article{
        width: calc(100% - 1em);
    }
    .more_topic_image{
        width: calc(50% - 0.63rem);
    }
    .more_topic_article_info {
        width: calc(50% - 0.64rem);
    }
    .more_topic_content .headline_list {
        width: calc(50% - 0.64rem);
        border-top: 1px solid #d7d6d2;
        float: right;
        margin-left: 50%;
        padding: 1em 1em 2em 0;
    }
    .more_topic_image img{
        height: auto;
        width: 100%;
    }
}

@media(max-width: 800px) {
    .more_topics{
        width: calc(100% - 1em);
    }
    .more_topic_image{
        width: 100%;
    }
    .more_topic_content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .more_topic_article{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .more_topic_article_info{
        width: 100%;
        padding-left: 0;
        padding-bottom: 1em;
    }
    .more_topic_content .headline_list{
        width: 100%;
        border-top: 1px solid #d7d6d2;
        margin-left: 0;
        padding: 1em 0 2em 1em;
    }
}
