.content{
    position: static;
    padding: 0;
    text-align: left;
    width: calc(100% - 1%);
    max-width: 80em;
    margin: 0 auto;
    /*box-sizing: border-box;*/
}

.feature_wrapper{
    box-sizing: border-box;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1%;
    width: calc(75% - 0.32rem);
    display: flex;
    justify-content: space-between;
}

.feature_left{
    width: calc(75% - 0.32rem);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: flex-start;
}

.feature_top{
    border-bottom: 1px solid #aaa7a4;
    margin-bottom: .75em;
}

.main_article{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%;
}

.main_image{
    padding-bottom: 50%;
    overflow: hidden;
    width: calc(56.25% - 0.55rem);
    margin-top: 1.2em;
    margin-left: 0.5em;
    height: auto;
}

.main_image img {
    max-width: 100%;
}

.article_info{
    width: calc( 43.75% - 0.71rem );
    font: normal 400 0.9375em / 1.2666666667 "Droid Sans", Helvetica, sans-serif;
    display: inline-block;
}

.entry_title {
    font-size: 1.8125em;
    line-height: 1.357142857;
    font-family: "Droid Sans", Helvetica, sans-serif;
}

.related_tag{
    font: normal 600 0.75em / 1.25 "Droid Serif", Helvetica, sans-serif;
    border-bottom: 1px solid #aaa7a4;
    color: #5d5b5a;
    margin-bottom: .75em;
    padding-bottom: .25em;
    text-align: left;
}

.primary_related_list{
    text-align: left;
    font-size: .625em;
    margin-left: 2em;
    padding: 0;
}

.subscriber_only_tag{
    background-color: #006394;
    color: white;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 23px;
    padding: 0 5px;
    text-transform: uppercase;
    display: block;
    clear: both;
    width: max-content;
    margin: auto auto 3px 0;
}

.related_article_info{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
}

.related_title{
    font: normal 700 1.5625em / 1.16 "Droid Serif", Helvetica, sans-serif;
    letter-spacing: -0.03em;
    margin-bottom: .3636363636em;
    margin-top: 0;
}

.feature_bottom{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom_article{
    width: calc( 50% - 0.32rem );
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 1em;
}

.article_image img{
    width: 100%;
    height: auto;
}

.article_title{
    font-size: 1.25em;
    line-height: 1.18;
    font-family: "Droid Sans", Helvetica, sans-serif;
    margin: 0;
}

.headline{
    width: calc(25% - 0.94rem);
    padding-left: 1%;
}

.headline-list-title{
    font: normal 400 1.25em / 1.1 "Droid Sans", Helvetica, sans-serif;
    color: #38322a;
    display: block;
    letter-spacing: .035em;
    margin-bottom: .75em;
    text-transform: uppercase;
    border-bottom: 2px solid #006394;
}

.headline_list{
    text-align: left;
    font-size: 0.8em;
    list-style: none;
    padding: 0;
}

.headline_list li{
    border-bottom: 1px solid #aaa7a4;
}

.headline_list li:last-child{
    border-bottom: 0;
}

.headline_article{
    display: flex;
    z-index: -100;
    flex-direction: column;
    position: relative;
    font-family: "Droid Serif", Helvetica, sans-serif;
    padding-bottom: 1em;
    padding-top: 1em;
}

.headline_article_title{
    font-size: 1.25em;
    line-height: 1.2;
    margin: 0;
}

.social_links{
    text-align: center;
    border-top:0;
    background-color: #f1efeb;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding: 1em 1em 2.5em;
}

.prompt{
    font: normal 700 1.1em / 1.0666666667 "Droid Sans", Helvetica, sans-serif;
    color: #0a0908;
    position: relative;
    width: 100%;
    padding-bottom: .6em;
}

.social_links>a{
    font: normal 600 1em / 1 "Droid Sans", Helvetica, sans-serif;
    background-color: #006394;
    border-radius: 4px;
    color: #fff;
    padding: .8125em 1.0625em;
    text-transform: uppercase;
}

@media(min-width: 1040px) and (max-width: 1260px){
    .feature_left{
        width: 70%;
    }
    .headline{
        width: 30%;
    }
    .bottom_article {
        width: 100%;
        flex-direction: row;
    }
    .bottom_article_info{
        width: calc( 50% - 0.32rem );
        padding-left: 1em;
    }
}

@media(min-width: 800px) and (max-width: 1260px){
    .main_article{
        flex-direction: column;
    }
    .article_info{
        width: 100%;
    }
    .main_image{
        width: 100%;
        margin-left: 0;
        padding-bottom: .5em;
    }
    .main_image img {
        height: auto;
    }
}

@media(max-width: 1040px){
    .headline{
        width: calc(45% - 0.75rem);
    }
    .feature_wrapper{
        width: 100%;
    }
    .bottom_article{
        border-bottom: 1px solid #aaa7a4;
        padding-bottom: .5em;
    }
}

@media(max-width: 800px){
    .feature_wrapper{
        flex-direction: column;
    }
    .feature_left{
        width: 100%;
    }
    .main_image{
        width: 100%;
    }
    .article_info{
        width: 100%;
    }
    .bottom_article_info{
        width: 60%;
        padding-left: 1em;
    }
    .article_image{
        width: 33%;
    }
    .bottom_article {
        width: 50%;
        flex-direction: row;
        border-bottom: 1px solid #aaa7a4;
        padding-bottom: .5em;
    }
    .headline{
        padding-left: 0;
        width: 100%;
    }
}

@media(max-width: 640px){
    .main_article{
        flex-direction: column;
    }
    .article_info{
        width: 100%;
    }
    .main_image{
        width: 100%;
        margin-left: 0;
        padding-bottom: .5em;
    }
    .bottom_article{
        width: 100%;
        border-bottom: 1px solid #aaa7a4;
        padding-bottom: .5em;
    }
    .headline{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}