html, body{
    margin: 0;
    height: 100%;
    letter-spacing: 0.05em;
    padding: 0;
    /*overflow-x: hidden; /*temporary solution*/
}

.navbar{
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0;
    top: 0;
    z-index: 100;
}

.primary_wrapper{
    border-bottom: 1px solid #9d9a98;
}

.primary_top{
    display: flex;
    justify-content: space-between;
    height: 4em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}


.right_top{
    flex: 1;
    float: right;
    width: 33%;
}

.toggle_menu{
    display: flex;
    line-height: 3em;
}

.sections>a{
    color:black;
    font: normal 600 0.9375em / 1.0666666667 "Droid Sans", Helvetica, sans-serif;
    padding-left: .25rem;
    text-decoration: none;
}

.login_sub_buttons{
    line-height: 3em;
    list-style: none;
    display: flex;
}

.login_sub_buttons div a{
    width: calc(8em);
    display: block;
    margin-left: 2em;
    background-color: #006394;
    color: #fff;
    font: normal 600 0.9375em / 1.7333333333 "Droid Sans", Helvetica, sans-serif;
    padding: 6% 3%;
    border-radius: 4px;
    text-decoration: none;
}

.center_top{
    flex: 1;
    visibility: hidden;
    width: 33%;
}

.left_top{
    float: left;
    margin-left: 1em;
    text-align: left;
    width: 33%;
}

.primary_middle{
    display: flex;
    justify-content: space-between;
    height: 5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

}

.right_middle, .center_middle, .left_middle{
    flex: 1;
    width: 33%;
}

.center_middle>div>h1, .center_top>div>h1{
    white-space: nowrap;
    vertical-align: top;
    max-width: 100%;
    /*font-size: 3vw;*/
}

.primary_bottom{
    display: flex;
    height: 3em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.subnav_menu{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    height: 3em;
    padding: 0;
}

.subnav_menu>ul>li{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
}

.subnav_menu li a{
    text-decoration: none;
    color: black;
    font: normal 600 0.9375em / 1.7333333333 "Droid Sans", Helvetica, sans-serif;
}

.trending_bar{
    display: flex;
    font-family: "Droid Sans", Helvetica, sans-serif;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3em;
    padding: 0;
    justify-content: center;
    min-width: 80%;
}

.trending_bar>p{
    color: #006394;
    display: block;
    font-size: .875em;
    padding-right: 1.5625em;
    position: static;
    text-transform: uppercase;
    min-width: 130px;
    white-space: nowrap;
}

.trending_bar>ul {
    padding: .5em;
}

.trending_bar>ul>li{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    line-height: 1.15;
    padding-right: 1.5625em;
    position: relative;
}

.trending_bar li a{
    text-decoration: none;
    color: #38322a;
}

@media only screen and (min-width: 65em) {
    .site-header {
        height: auto;
    }
}

@media only screen and (max-width: 1260px) {
    .trending_bar ul li:nth-child(n+6) {
        display: none;
    }
}

@media only screen and (max-width: 1040px){
    .center_top{
        visibility: visible;
    }
    .primary_middle{
        visibility: hidden;
        height: 0;
    }
    .primary_bottom{
        visibility: hidden;
        height: 0;
    }
    .trending_bar{
        visibility: hidden;
        height: 0;
    }
    .login_sub_buttons{
        visibility: hidden;
    }
    .sections{
        visibility: hidden;
    }
}

@media only screen and (max-width: 800px){
    .left_top{
        width: 23%;
    }
    .center_top{
        width: 53%;
    }
    .right_top{
        width: 24%;
    }
    .trending_bar{
        border: 0;
    }
    /*.center_top>div>h1{
        font-size: 4vw;
    }*/
}
