.recommended{
    margin-left: 1%;
    counter-reset: section;
    width: calc(75% - 0.32rem);
    padding-bottom: 1em;
}

.recommended-list-title{
    font: normal 400 1.25em / 1.1 "Droid Sans", Helvetica, sans-serif;
    color: #006394;
    display: block;
    letter-spacing: .035em;
    margin-bottom: .75em;
    text-transform: uppercase;
    border-bottom: 2px solid #006394;
}

.recommended ul{
    list-style: none;
    text-align: left;
    padding: 0;
    vertical-align: baseline;
    columns:2
}

.recommended li a{
    counter-increment: section;
    justify-content: flex-start;
    padding-top: 1em;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    color: #000;
    border-bottom: none;
    font-size: initial;
    text-decoration: none;
}

.recommended li a ::before{
    font: normal 600 1.3125em / 1 "Droid Sans", Helvetica, sans-serif;
    -webkit-box-align: center;
    align-items: center;
    background-color: #006394;
    border-radius: 50%;
    color: #fff;
    content: counter(section);
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 2rem;
    height: 2rem;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 2rem;
    margin-right: .625rem;
    max-width: 100%;
    width: 2rem;
}

.recommended_article{
    display: flex;
    -webkit-box-pack: start;
    justify-content: center;
    padding-bottom: .3125em;
    font: normal 600 1.0625em / 1.0588235294 "Droid Serif", Helvetica, sans-serif;
}

.topic_wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(75% - 0.32rem);
    padding-left: 1%;
}

.topic_column{
    width: calc(33% - 0.94rem);
}

.topic_title{
    font: normal 400 1.2em / 1.1 "Droid Sans", Helvetica, sans-serif;
    color: #38322a;
    display: block;
    letter-spacing: .035em;
    text-transform: uppercase;
    margin-bottom: .75em;
    border-bottom: 2px solid #006394;
}

.topic_content{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.topic_article{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 1em;
    justify-content: space-between;

}

.topic_article img{
    width: 100%;
    height: auto;
}

.topic_article_info{
    font: normal 400 0.9375em / 1.2666666667 "Droid Sans", Helvetica, sans-serif;
    display: inline-block;
}

.topic_article_title{
    font-size: 1.2em;
    line-height: 1;
    margin: 0;
    padding-bottom: .5em;
}


@media(max-width: 1040px){
    .recommended{
        width: 100%;
    }
    .recommended-list-title{
        font-size: 1.125em;
    }
    .recommended_article{
        font-size: 1em;
    }
    .topic_wrapper {
        width: 100%;
    }
    .topic_column {
        width: 49%;
    }
}

@media(max-width: 640px){
    .recommended ul{
        columns:1;
    }
    .topic_column {
        width: 100%;
    }
}